.topmenu a,
.btn.btn-success,
.btn-success:hover,
.main-menu a {
    color: #fff;
}
.btn.btn-success{
    background-color:#444;
}
.btn-success:hover{
    background-color:#666;
}
.topmenu nav,
.topmenu:before {
    background:#990000;
}
header{
    border-top-color:#696969;
}
.topmenu nav:first-child:before {
    border-top-color:#990000;
}

.main-menu,
.main-menu:before,
#main-menu-bg,
#menu-open {
    background: #970001;
    /*background: linear-gradient(180deg,#990000, #690000);*/
}
.dropdown-menu{
    background: #3b3b3b;
}



.sub-heading {
    color: #970001;
    font-size: 20px;
    text-align: center !important;
}
#home-content p>span {
    color: #970001;
}
.list-group a {
    color: rgba(255,255,255,0.6);
    background-color: #545454;
    font-size: 14px;
    border-color: #444;
    padding: 10px 10px;
}
a.list-group-item:hover, a.list-group-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #444;
    padding-left: 15px;
}
#home-content h1 {
    color: #990000;
    font-weight: 900;
}
.navbar-main .open > a, 
.navbar-main .open > a:focus, 
.navbar-main .open > a:hover, 
.navbar-main > li > a:focus, 
.navbar-main > li > a:hover {
    color: #fff;
}
.panel-default{
    border-radius: 0px;
    box-shadow: none;
}
.panel-default>.p-heading {
    color: #fff;
    background: transparent;
    border-radius: 0px;
    display: inline-block;
    float: left;
}
#home-content h3{
    color: #990000;
}
.view h4 {
    color: #fff;
    margin-top: -3px;
    background-color: #696969;
    padding: 10px;
}

.main-container .blur {
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background: url(../img/pattern.png);
    width: 100%;
    height: 450px;
    position: relative;
    opacity: 0.7;
    
}
.blur2 {
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background: url(../img/pattern.png);
    width: 100%;
    height: 450px;
    position: relative;
    opacity: 0.1;
    top: 0;
    right: 0;
}
.deepskyblue .carousel-caption h3, .darkerskyblue .carousel-caption h3 {
    border-left: 10px solid #970001;
}
.carousel .icon-container,
.carousel-caption button {
    background-color: #007F3E;
}
.carousel-caption button {
    border-color: #007F3E;
}
.founder-text >p>span{
    font-size: 15px;
    color: #970001;
    display: inline-block;
    text-align: left;
}
.founder-text >p .first-span{
    font-size: 21px;
    font-weight: 700;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #555555;
}
.navbar-main > li.open .dropdownhover-right>li>a:focus,
.navbar-main > li.open .dropdownhover-right>li>a:active {
    background-color: rgba(0, 178, 87, 0.5);
}
.navbar-main > li > .dropdown-menu > li > a:focus,
.navbar-main > li > .dropdown-menu > li > a:hover,
.navbar-main > li.open .dropdownhover-right>li>a:hover,
.navbar-main > li.open .dropdownhover-right>li>a:focus,
.navbar-main > li.open .dropdownhover-right>li>a:active {
    background-color: #555555;
    padding-left: 25px;
}
.navbar-form > .form-group > .form-control {
    border:1px solid #970001;
}
.navbar-form > .form-group > .form-control:focus {
    border:1px solid #970001;
}
.navbar-main > li.open .dropdownhover-right {
    background-color: #3b3b3b;
    color: #fff;
}
#footer {
    background: #3b3b3b;
    background-size: cover;
}
.footer-widget .about-widget a {
    color: #111;
}
.footer-widget .social li:hover>a {
    color: #970001;
}
.bottom-bar {
    background: #1b1a1a;
}